body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
}

.listas {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 0px 20%;
}

.listadone {
    margin-right: 10px;
}

.listatodo {
    margin-left: 10px;
}

.lista {
    padding-left: 20px;
    padding-right: 20px;
    border: solid #f28482 2px;
    box-shadow: 5px 5px #f5cac3;
    padding-bottom: 20px;
    background-color: #f7ede2;
}

.footer {
    text-align: center;
    bottom: 0;
    padding: 5px;
    width: fit-content;
    position: fixed;
}

.check {
    text-decoration: none;
    padding: 0px 5px;
    margin: 0px 0px;
    border-radius: 5px;
    font-size: large;
    width: fit-content;
}

.tarefa {
    grid-template-columns: auto auto;
    width: 300px;
    border: solid #f28482 2px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.tarefa, h2 {
    word-wrap: break-word;
}

.delete {
    color : white;
    background-color: red;
}

.uncheck {
    background-color: rgb(130, 196, 31);
    color: white;
}

.docheck {
    background-color: orange;
    color: white;
}

input, select {
    border: solid #f5cac3 2px;
    border-radius: 5px;
    background-color: #f7ede2;
}

.inputdescricao {
    min-width: 300px;
}

.inputsubmit {
    padding: 2px 10px;
}

.inputclean {
    padding: 2px 10px;
}

form {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}