body {
  padding: 20px 50px;
  font: 14px "Optima", sans-serif;
}

a {
  color: black;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr.tabletitle>th {
  background-color: #FFB6B9;
}

td {
  padding: 5px 5px;

}

th {
  border-bottom: 1px grey solid;
}

tr:nth-child(2n) {
  background-color: #FAE3D9;
}

tr:nth-child(2n+1) {
  background-color: #fef4f1;
}

footer {
  text-align: center;
  bottom: 0;
  padding: 5px;
  width: fit-content;
  position: fixed;
  color: black;
}

ul {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 5px 5px;
}

li {
  list-style:square;
}

.backbutton {
  text-decoration: none;
  border: 2px solid #FFB6B9;
  border-radius: 5px;
  background-color:#FAE3D9;
  color: black;
  padding: 5px;
}

.homebutton {
  text-decoration: none;
  border: 2px solid #98e051;
  border-radius: 5px;
  background-color:#d7f3ab;
  color: black;
  padding: 5px;
}

header>h1 {
  margin: 0px auto;
  width: fit-content;
}

.navbuttons {
  display: inline-flex;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

div.navbuttons>h4 {
  margin: 0px 5px 10px 5px;
}