doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 CLAV
      h1 Classificação e Avaliação da Informação Pública
      div.navbuttons 
        h4 
          a(href="https://github.com/carolinavc99").autorbutton ✉ Autor
        h4
          a(href="/").homebutton ☖ Página Inicial
        h4  
          a(href="/voltar").backbutton ↩ Página Anterior
    block content
