doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 CLAV: Classificação e Avaliação da Informação Pública
      h4
        a(href="/") Página Inicial
      h4  
        a(href="/voltar") Página Anterior
    block content
