body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.lupa {
  background-color: #fae1dd48;
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
}

h3.lupa, h3>a {
  text-align: left;
  background-color: rgb(220, 220, 220);
  padding: 5px 8px;
  width:fit-content;
  margin: 5px 5px;
  border-radius: 0px;
}

.id {
  background-color: #f94144;
}

.dur {
  background-color: #f3722c;
}

.file {
  background-color: #f8961e;
}

.filetype {
  background-color: #f9c74f;
}

.local {
  background-color: #90be6d;
}

.mus {
  background-color: #43aa8b;
}

.ins {
  background-color: #43aa8b;
}

.obs {
  background-color: #42817f;
}

.obsfiles {
  background-color: #577590;
}

.prov {
  background-color: #277da1;
}

.tit {
  background-color: #ce65bc;
}

.elim {
  background-color: black;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  color: white;
}

td {
  color: black;
}

th, td {
  padding: 3px 10px;
  min-width: fit-content;
}

tr:nth-child(2n) {
  background-color: #f8f9fa;
}
tr:nth-child(2n+1) {
  background-color: #e9ecef;
}

form {
  text-align: left;
  margin: 10px 20%;
  display: grid;
}

/* form buttons */
.butt {
  display: inline-block;
  padding: 10px;
  margin-left: auto;
}

div.butt>input {
  font-size: x-large;
  padding: 15px;
  margin: 2px;
}

input[type=submit] {
  background-color: #90be6d;
  border: #90be6d solid 2px;
  border-radius: 5px;
}

input[type=reset] {
  background-color: #f9c74f;
  border: #f9c74f solid 2px;
  border-radius: 5px;
}

input {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
}